<a href="https://colab.research.google.com/github/jonnie763/DATA-690-WANG/blob/master/Jonathan_Rius_Assignment_5_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Upload the 2017-2018 school year file "MERGED2017_18_PP.csv" to Colab and create a Jupyter notebook to explore the dataset: 

    - how many colleges or rows?   
    - how many variables or columns?   
    - Look at the first 5 colleges   
    - look at the last 5 colleges
    - Look at a random sample of 5 colleges

In [ ]:
import pandas as pd
import numpy

In [ ]:

df = pd.read_csv('MERGED2017_18_PP.csv')
df

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (1729) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0       100654   100200  ...                       NaN            NaN
1       100663   105200  ...                       NaN            NaN
2       100690  2503400  ...                       NaN            NaN
3       100706   105500  ...                       NaN            NaN
4       100724   100500  ...                       NaN            NaN
...        ...      ...  ...                       ...            ...
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[7112 rows x 1986 columns]

In [ ]:
df.shape

(7112, 1986)

In [ ]:
df.head(5)

   UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
0  100654   100200  ...                       NaN            NaN
1  100663   105200  ...                       NaN            NaN
2  100690  2503400  ...                       NaN            NaN
3  100706   105500  ...                       NaN            NaN
4  100724   100500  ...                       NaN            NaN

[5 rows x 1986 columns]

In [ ]:
df.tail(5)

        UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
7107  48312404   108163  ...                       NaN            NaN
7108  48387801  4223701  ...                       NaN            NaN
7109  48400201  4228101  ...                       NaN            NaN
7110  48778201  4221501  ...                       NaN            NaN
7111  49005401  4182601  ...                       NaN            NaN

[5 rows x 1986 columns]

In [ ]:
df.sample(5)

          UNITID    OPEID  ...  FTFTPCTFLOAN_POOLED_SUPP SCUGFFN_POOLED
STABBR                     ...
NC      24893409  1019812  ...                       NaN            NaN
TX        458982  2117104  ...                       NaN            NaN
IL        146366   170100  ...                       NaN            NaN
PA        216418  3010800  ...                       NaN            NaN
DE      13090702  1172703  ...                       NaN            NaN

[5 rows x 1986 columns]

##2. Since there are too many variables to explore, many of which are not interesting. Create a smaller data frame with the following 9 variables:
    - UNITID
    - INSTNM
    - CITY
    - STABBR
    - ZIP
    - ADM_RATE
    - UGDS
    - TUITIONFEE_IN
    - MN_EARN_WNE_P10

In [ ]:
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]]

          UNITID  ... MN_EARN_WNE_P10
STABBR            ...
AL        100654  ...             NaN
AL        100663  ...             NaN
AL        100690  ...             NaN
AL        100706  ...             NaN
AL        100724  ...             NaN
...          ...  ...             ...
AZ      48312404  ...             NaN
CA      48387801  ...             NaN
CA      48400201  ...             NaN
MA      48778201  ...             NaN
FL      49005401  ...             NaN

[7112 rows x 9 columns]

##3. Find out the definition of the above 9 variables and document the definitions in the Jupyter Notebook in a Markdown cell so that the readers of your notebook will know the meaning of these variables.

##UNITID-  a unique identification number assigned to postsecondary institutions
##INSTNM - The institution’s name.
##CITY- CITY location belonging to institution. 
##STABBR - State  belonging to institution.
##ZIP - Zip code belonging to institution. 
##ADM_RATE - represents the admissions rate across all campuses, defined as the total number of admitted undergraduates across all branches divided by the total number of undergraduates who applied across all branches.
##UGDS - includes the number of degree/certificate-seeking undergraduates enrolled in the fall. 
##TUITIONFEE_IN -  the cost data include the tuition and required fees of the institution. This defines it as in state tuition only. 
##MN_EARN_WNE_P10- earnings are for the institutional aggregate of all federally aided students who enroll in an institution each year and who are employed but not enrolled.

## 4. Explore the smaller data frame
    - Look at the first 10 colleges   
    - look at the last 10 colleges
    - Look at a random sample of 10 colleges  
    - Find and display UMBC 
    - Find Univ. of Maryland College Park
    - Find and display Loyola College Maryland
    - Find and display Johns Hopskins
    - Calculate the min, max, and average in-state tution of the above four   institutions.

In [ ]:
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]].head(10)

        UNITID  ... MN_EARN_WNE_P10
STABBR          ...
AL      100654  ...             NaN
AL      100663  ...             NaN
AL      100690  ...             NaN
AL      100706  ...             NaN
AL      100724  ...             NaN
AL      100751  ...             NaN
AL      100760  ...             NaN
AL      100812  ...             NaN
AL      100830  ...             NaN
AL      100858  ...             NaN

[10 rows x 9 columns]

In [ ]:
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]].tail(10)

          UNITID  ... MN_EARN_WNE_P10
STABBR            ...
OH      48154401  ...             NaN
PA      48305401  ...             NaN
AZ      48312401  ...             NaN
AZ      48312402  ...             NaN
AZ      48312403  ...             NaN
AZ      48312404  ...             NaN
CA      48387801  ...             NaN
CA      48400201  ...             NaN
MA      48778201  ...             NaN
FL      49005401  ...             NaN

[10 rows x 9 columns]

In [ ]:
df[["UNITID", "INSTNM","CITY", "STABBR", "ZIP", "ADM_RATE", "UGDS", "TUITIONFEE_IN", "MN_EARN_WNE_P10" ]].sample(10)

          UNITID  ... MN_EARN_WNE_P10
STABBR            ...
FL        468732  ...             NaN
IL        148177  ...             NaN
AZ        104346  ...             NaN
PA        212869  ...             NaN
WV        237792  ...             NaN
CA        457244  ...             NaN
VA      24893401  ...             NaN
NY        189015  ...             NaN
AR        106245  ...             NaN
AZ        420246  ...             NaN

[10 rows x 9 columns]

In [ ]:
df2 = df.set_index( "INSTNM", drop = False)
df2.loc["Alabama A & M University","TUITIONFEE_IN"]

9857.0

In [ ]:
(df2.loc["Alabama A & M University","TUITIONFEE_IN"]+df2.loc["Alabama A & M University","TUITIONFEE_IN"])/2

9857.0

 ## 5. Filter the smaller dataset further to only keep colleges from Maryland, Virgina, Washington DC, Delaware, and Pennsylvinia. Save the filtered dataset to a new file named "Five_States_Colleges.csv" for future analysis. Upload this file to your GitHub along with the notebook.

In [ ]:
df2 = df.set_index("STABBR", drop = False)
df2.loc["MD","INSTNM"]

STABBR
MD       Aesthetics Institute of Cosmetology
MD              Allegany College of Maryland
MD            Anne Arundel Community College
MD                 Brightwood College-Towson
MD                       Award Beauty School
                       ...
MD            Cecil College - Elkton Station
MD       Strayer University-Rockville Campus
MD    Strayer University-Anne Arundel Campus
MD     Strayer University-White Marsh Campus
MD    Strayer University-Owings Mills Campus
Name: INSTNM, Length: 91, dtype: object

In [ ]:
df.to_csv('file_name.csv')